* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
nav > ul{
   list-style-type: none;
   display: flex;
   
}
nav > li{
  right: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
