* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
nav > ul{
   list-style-type: none;
   padding: 10px,10px,10px,10px;
}
nav > lis{
  padding-bottom: 30px;
  padding: 10px,10px,10px,10px;
}
nav {
  display: flex;
}